SCW_ACCESS_KEY=your_access_key
SCW_SECRET_KEY=your_access_key
SCW_DEFAULT_ORGANIZATION_ID=your_access_key
SCW_DEFAULT_PROJECT_ID=your_access_key
DATABASE_URL=sqlite+aiosqlite:///./data.db
CORS_ORIGINS=https://www.arnaud-a.dev,https://arnaud-a.dev,http://localhost:5173,http://127.0.0.1:5173
SCW_OBJECT_STORAGE_BUCKET=trpg-files
SCW_OBJECT_STORAGE_REGION=fr-par
SCW_OBJECT_STORAGE_ENDPOINT=https://s3.fr-par.scw.cloud
SCW_PUBLIC_BUCKET_URL=https://s3.fr-par.scw.cloud/
CHARACTER_IMAGE_MAX_SIZE_MB=5
CHARACTER_IMAGE_UPLOAD_URL_EXPIRES_SECONDS=900
